@import url(https://fonts.bunny.net/css?family=montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  gap: 8rem;
  background-color: #f7f7f7;
  padding: 8rem 2rem 16rem 2rem;
}
body header {
  display: grid;
  gap: 0;
  justify-content: center;
}
body header .project-title {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: auto;
  font-style: normal;
  text-align: center;
}
body main {
  display: grid;
  gap: 8rem;
  justify-content: center;
}
body main .type {
  display: grid;
  gap: 4rem;
  padding: 7.4rem 6.4rem;
  max-width: -moz-max-content;
  max-width: max-content;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  background-color: #fff;
}
body main .type-header {
  display: grid;
  gap: 1.6rem;
}
body main .type-header__title {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: auto;
  font-style: normal;
}
body main .type-header__desc {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: auto;
  font-style: normal;
  max-width: 90rem;
}
body main .type .section {
  display: grid;
  gap: 2.4rem;
  max-width: -moz-max-content;
  max-width: max-content;
}
body main .type .section-header {
  display: grid;
  gap: 0.8rem;
}
body main .type .section-header__title {
  font-family: "Montserrat", sans-serif;
  color: #0b94e5;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: auto;
  font-style: normal;
}
body main .type .section-header .title-output {
  color: #06b25f;
}
body main .type .section-header__desc {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: auto;
  font-style: normal;
  max-width: 90rem;
}
body main .type .section .files {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
}
body main .type .section .files__subsection {
  display: grid;
  gap: 1.6rem;
  width: -moz-max-content;
  width: max-content;
}
body main .type .section .files__subsection .config-header {
  display: grid;
  gap: 0.2rem;
}
body main .type .section .files__subsection .config-header .epochs {
  font-family: "Montserrat", sans-serif;
  color: #999;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: auto;
  font-style: normal;
}
body main .type .section .files__subsection .config-header .model {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: auto;
  font-style: normal;
}
body main .type .section .files .audio-block {
  display: grid;
  gap: 0.6rem;
}
body main .type .section .files .audio-block .audio-label {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 1.6rem;
  font-weight: 450;
  line-height: auto;
  font-style: italic;
}
body main .type .section .files .audio-block audio {
  width: 20rem;
  height: 4rem;
  border-radius: 4px;
}
body main .type .divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0.8rem 0;
}

@media (max-width: 1092px) {
  body main .type .section .files {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  body main .type {
    padding: 5.4rem 4.4rem;
  }
}
@media (max-width: 810px) {
  body main .type .section .files {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 587px) {
  body main .type {
    padding: 3.4rem 2.4rem;
  }
}
@media (max-width: 547px) {
  body main .type .section .files {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 450px) {
  body {
    padding: 8rem 1rem 16rem 1rem;
  }
}
@media (max-width: 420px) {
  body main .type {
    padding: 2.4rem 1.4rem;
  }
  body main .type .section .files {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=style.css.map */